<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.Auctionafterend.boot.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.accp.Auctionafterend.boot.pojo.Users">
            <id property="usId" column="usId" jdbcType="CHAR"/>
            <result property="usAccount" column="usAccount" jdbcType="VARCHAR"/>
            <result property="usPwd" column="usPwd" jdbcType="VARCHAR"/>
            <result property="usStatus" column="usStatus" jdbcType="CHAR"/>
            <result property="usPhone" column="usPhone" jdbcType="CHAR"/>
            <result property="usAdress" column="usAdress" jdbcType="VARCHAR"/>
            <result property="usPostalCode" column="usPostalCode" jdbcType="CHAR"/>
            <result property="usPrice" column="usPrice" jdbcType="FLOAT"/>
            <result property="usLastLoginTime" column="usLastLoginTime" jdbcType="TIMESTAMP"/>
            <result property="usHeadSculpture" column="usHeadSculpture" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        usId,usAccount,usPwd,
        usStatus,usPhone,usAdress,
        usPostalCode,usPrice,usLastLoginTime,
        usHeadSculpture
    </sql>

    <select id="selectByUsAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where
        usAccount = #{usAccount,jdbcType=VARCHAR}
    </select>
</mapper>
